.admin-movie {
    display: flex;
    margin: 0 20px;
    border: 1px solid black;
}
.admin-container {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.add-manage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 20px 0;
}