body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  z-index: 1;
  text-align: center;
}

/* Убирает элементы плеера */
video::-webkit-media-controls {
  display: none !important;
}

.lalisa-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lalisa-text h1 {
  font-weight: bold;
  margin: 40px;
}

.lalisa-text p {
  text-align: center;
  width: 60%;
  font-size: 24px;
}

.carousel {
  margin-top: 50px;
  /* margin-bottom: 60px; */
  color: #000000;
  background-color: #000000;
}

.cover {
  width: 100%;
  max-height: 100%;
  height: auto;
  min-height: 0;
  grid-area: main;
  align-self: flex-start;
  overflow: hidden;
  display: flex;
}

@media screen and (min-width: 768px) {
  .cover {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }
}

.cocktails {
  margin-bottom: 120px;
}

.cocktails h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 40px !important;
}

.cards img {
  /* display: grid; */
  grid: 3;
  margin: 35px;
}

.bottles div {
  margin-left: auto;
  margin-right: -50;
}

.bottles img {
  border-radius: 100px;
}

@media all and (max-width: 320px) {
  .bottles {
    /* margin: auto !important; */
    margin-left: -50;
    /* margin-right: -50; */
  }
  .bottles img {
    width: 100%;
  }
  .lalisa-text h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .lalisa-text p {
    font-size: 10px;
  }
}

button {
  color: #000000;
}

span {
  color: #ffffff;
}

a {
  color: #ffffff !important;
  text-decoration: none !important;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

/* Not Found Page */

svg {
  font-size: 150px;
  padding-top: 11%;
}

.will {
  fill: none;
  stroke: #555;
  stroke-width: 3px;
  stroke-dasharray: 8% 30%;
  stroke-dashoffset: 0;
  animation: textanimation 6s linear infinite;
}

@keyframes textanimation {
  100% {
    stroke-dashoffset: -35%;
  }
}

.will1 {
  stroke: #9b83c5;
  animation-delay: -1s;
}

.will2 {
  stroke: #babebe;
  animation-delay: -2s;
}

.will3 {
  stroke: #b73a3a;
  animation-delay: -3s;
}

.will4 {
  stroke: #3ab7a0;
  animation-delay: -4s;
}

.will5 {
  stroke: #36518c;
  animation-delay: -5s;
}

/* Add-page */

.add-edit-page form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.add-btn {
  color: white !important;
  background-color: #151515 !important;
}

.filters-block {
  display: grid;
  grid-template-columns: 250px 200px 200px 150px;
  column-gap: 25px;
  align-items: center;
  background-color: white;
  max-width: 100%;
}

.products-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  margin-top: 50px;
  column-gap: 25px;
}

.my-pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  color: black;
}

.edit-btn {
  color: black !important;
}