body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  z-index: 1;
  text-align: center;
}

/* Убирает элементы плеера */
video::-webkit-media-controls {
  display: none !important;
}

.lalisa-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lalisa-text h1 {
  font-weight: bold;
  margin: 40px;
}

.lalisa-text p {
  text-align: center;
  width: 60%;
  font-size: 24px;
}

.carousel {
  margin-top: 50px;
  /* margin-bottom: 60px; */
  color: #000000;
  background-color: #000000;
}

.cover {
  width: 100%;
  max-height: 100%;
  height: auto;
  min-height: 0;
  grid-area: main;
  align-self: flex-start;
  overflow: hidden;
  display: flex;
}

@media screen and (min-width: 768px) {
  .cover {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }
}

.cocktails {
  margin-bottom: 120px;
}

.cocktails h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 40px !important;
}

.cards img {
  /* display: grid; */
  grid: 3;
  margin: 35px;
}

.bottles div {
  margin-left: auto;
  margin-right: -50;
}

.bottles img {
  border-radius: 100px;
}

@media all and (max-width: 320px) {
  .bottles {
    /* margin: auto !important; */
    margin-left: -50;
    /* margin-right: -50; */
  }
  .bottles img {
    width: 100%;
  }
  .lalisa-text h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .lalisa-text p {
    font-size: 10px;
  }
}

button {
  color: #000000;
}

span {
  color: #ffffff;
}

a {
  color: #ffffff !important;
  text-decoration: none !important; 
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
