body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  z-index: 1;
  text-align: center;
}

.tocka p {
  color: black;
}

ul a {
  color: black;
}

/* Убирает элементы плеера */
video::-webkit-media-controls {
  display: none !important;
}

.lalisa-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lalisa-text h1 {
  font-weight: bold;
  margin: 40px;
}

.lalisa-text p {
  text-align: center;
  width: 60%;
  font-size: 24px;
}

.carousel {
  margin-top: 50px;
  /* margin-bottom: 60px; */
  color: #000000;
  background-color: #000000;
}

.card-form {
  display: flex;
  margin-top: 15px;
}

.card-form input {
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}

.card-form button {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
  color: white !important;
}

.cover {
  width: 100%;
  max-height: 100%;
  height: auto;
  min-height: 0;
  grid-area: main;
  align-self: flex-start;
  overflow: hidden;
  display: flex;
}

@media screen and (min-width: 768px) {
  .cover {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }
}

.cocktails {
  margin-bottom: 120px;
}

.cocktails h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 40px !important;
}

.cards img {
  /* display: grid; */
  grid: 3;
  margin: 35px;
}

.bottles div {
  /* margin-left: auto;
  margin-right: -50; */
  text-align: center;
}

.bottles img {
  border-radius: 100px;
}

@media all and (max-width: 320px) {
  .bottles {
    /* margin: auto !important; */
    margin-left: -50;
    /* margin-right: -50; */
  }
  .bottles img {
    width: 100%;
  }
  .lalisa-text h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .lalisa-text p {
    font-size: 10px;
  }
}

button {
  color: #000000;
}

span {
  /* color: #ffffff; */
  color: #151515;
}

a {
  /* color: #ffffff !important; */
  text-decoration: none !important;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

/* Not Found Page */

svg {
  font-size: 150px;
  padding-top: 11%;
}

.will {
  fill: none;
  stroke: #555;
  stroke-width: 3px;
  stroke-dasharray: 8% 30%;
  stroke-dashoffset: 0;
  animation: textanimation 6s linear infinite;
}

@keyframes textanimation {
  100% {
    stroke-dashoffset: -35%;
  }
}

.will1 {
  stroke: #9b83c5;
  animation-delay: -1s;
}

.will2 {
  stroke: #babebe;
  animation-delay: -2s;
}

.will3 {
  stroke: #b73a3a;
  animation-delay: -3s;
}

.will4 {
  stroke: #3ab7a0;
  animation-delay: -4s;
}

.will5 {
  stroke: #36518c;
  animation-delay: -5s;
}

/* Add-page */

.add-edit-page form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.add-btn {
  color: white !important;
  background-color: #151515 !important;
}

.filters-block {
  display: grid;
  grid-template-columns: 250px 200px 200px 150px;
  column-gap: 25px;
  align-items: center;
  background-color: white;
  max-width: 100%;
}

.products-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  margin-top: 50px;
  column-gap: 25px;
}

.my-pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  color: black;
}

.edit-btn {
  color: black !important;
}

.save-btn {
  background-color: #151515 !important;
}

/* product-details */

.product-details-feedback form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-details {
  display: flex;
  margin-top: 50px;
}

.product-details img {
  width: 40%;
  height: 500px;
  object-fit: contain;
}

.product-details > div {
  width: 60%;
}

.product-details li {
  margin: 5px;
  font-size: 20px;
}

.product-details li strong {
  width: 120px;
  display: inline-block;
}

.product-details h2 {
  font-size: 40px;
  margin-top: 0;
  margin-left: 20px;
}

.product-details-feedback h3 {
  font-size: 24px;
  text-align: center;
}

.product-details-feedback > div {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.feedback {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
}

.feedback h5 {
  font-size: 20px;
  margin: 0;
}

.social span {
  color: white;
}

/* Authorization */

.container {
  box-shadow: 0 1px 6px #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 22px;
}

.container > p {
  cursor: pointer;
  margin: 12px;
}

.form {
  width: 100%;
}

.form > h2 {
  text-align: center;
}

.form > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form > form > p {
  cursor: pointer;
}

.error {
  background-color: tomato;
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 18px;
}

.Utils {
  position: relative;
  width: 100%;
}

.Utils img {
  width: 100%;
  height: auto;
}

.btns {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
}

.btns button {
  margin: 5px;
}

.signout-btn {
  margin: auto;
  display: block;
}

@media all and (max-width: 768px) {
  .filters-block {
    display: grid;
    grid-template-columns: auto;
    column-gap: 25px;
    align-items: center;
    background-color: white;
    max-width: 100%;
  }

  .products-list {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    row-gap: 10px;
    margin-top: 50px;
    column-gap: 25px;
  }

  .username {
    display: none;
  }

  .card-form {
    display: flex;
    flex-direction: column;
  }

  .card-form input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .btns {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 0px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    height: 70%;
    background-color: white;
  }
  a {
    padding: 0px;
    margin: 0;
  }
  .btns button {
    padding: 0px;
    margin: 0 !important;
    width: 100%;
    /* margin: 5px; */
  }
  .username {
    display: none;
  }
  .chivas-logo {
    display: none;
  }
  .lalisa-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .lalisa-text h1 {
    font-weight: bold;
    margin: 40px;
  }

  .lalisa-text p {
    text-align: center;
    width: 60%;
    font-size: 85%;
  }
}

@media all and (min-width: 768px) {
  .products-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    margin-top: 50px;
    column-gap: 25px;
  }
}

@media all and (min-width: 1024px) {
  .products-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    margin-top: 50px;
    column-gap: 25px;
  }
}

