body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  z-index: 1;
  text-align: center;
}

/* Убирает элементы плеера */
video::-webkit-media-controls {
  display: none !important;
}

.lalisa-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lalisa-text h1 {
  font-weight: bold;
  margin: 40px !important;
}

.lalisa-text p {
  text-align: center;
  width: 60%;
  font-size: 24px;
}

.carousel {
  margin-top: 40px
}